<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="naoki.tweet.client"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" android:debuggable="true">
        <activity android:name=".TwitterClient"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="twitter.com/i_n_style" />
             </intent-filter>
        </activity>
        
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
